*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
/.settings/
/.project
/.classpath

/target/
/output/
/test/output/
/bin/

# IntelliJ
/.idea/
*.iml

# Large files
#*.xml
#*.xml.gz
#*.tif
#*.osm
#*.osm.pbf

# Repository with big network input files
/inputs_network/belgium.osm.pbf
/inputs_network/DTM_RBC_50cm.tif
/inputs_network/Bruxelles_Cyclability_Data.geojson

# Output directories
/output_*


# Population files
/src/main/java/org/matsim/population/input/
/src/main/java/org/matsim/population/output/

# MATSim output file -- has more than 100MB
/scenarios/brussels/baseline_scenario_output_plans.xml.gz